@font-face {
    font-family: OpenSans-VariableFont;
    src: url("./../font/OpenSans-VariableFont_wdth,wght.ttf") format('ttf');
}

body {
    font-family: OpenSans-VariableFont, ui-serif ;
}

.bg-surface-secondary {
    background: #f4f9fc;
}

.bg-primary {
    background-color: #5c60f5 !important;
}